<h1>Contacts</h1>
<form action = "/contacts" method = "POST">
    <input type = "email" name = "email" placeholder = "Input your email"><br><br>
	<textarea name = "text"></textarea><br><br>
	<input type = "submit" name = "Send message" class="btn btn-primary">
</form>